## Build folders
bin/
obj/

## VS and Rider
.vs/
*.user
*.suo

## Publish output
/publish/

## NuGet
*.nupkg

## Debug files
*.pdb

## Rider
.idea/

## VS Code
.vscode/

## Misc
*.cache

## Environment / secrets
appsettings.json
appsettings.Development.json
.env
